:root {
    /* COLORS */
    --color-font-main : rgb(224, 224, 224);
    --color-input-active : rgb(220, 220, 220);
    --color-input-inactive : rgb(54, 104, 132);
    --color-input-invalid : rgb(210, 150, 150);
    --color-background-dark : rgb(16, 42, 58);
    --color-background-medium : rgb(28, 67, 90);
    --color-banner : rgba(220, 220, 220, 0.4);
    --color-shadow : rgba(0, 0, 0, 0.2);

    /* ANIMATIONS */
    --transition-time-standard : 0.3s;
    --transition-time-fast : 0.1s;

    /* MARGIN AND PADDING */
    --margin-standard : 24px;
}
/* ANIMATIONS */
@keyframes main-appear {
    0% {opacity:0; transform: translateX(-50px);}
    75% {opacity:1;}
    100% {opacity:1; transform: translateX(0px);}
}

@keyframes form-appear {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0px);}
}

@keyframes submit-appear {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0px);}
}

.main {
    animation-name: main-appear;
    animation-duration: 1.25s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.15,.45,.39,1);
    animation-fill-mode: backwards;
}


.form-container  > * {
    animation-name: form-appear;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(.1,.48,.15,.99);
}

.right > div:last-child {
    animation-name: submit-appear;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(.1,.48,.15,.99);
}

/* STYLING */
* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color-font-main);
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-70deg, rgba(115, 154, 170, 0.4), rgba(178, 206, 217, 0.4));
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.4em;
}

.main {
    display: flex;
    height: 640px;
    border-radius: 64px;
    overflow: hidden;
    background-color: var(--color-background-medium);
    border: 4px solid var(--color-background-medium);
    border-right: none;
    box-shadow: 16px 16px 16px var(--color-shadow);
    margin: 48px;
}

/* 
LEFT PART STYLING
*/
.left {
    width: 360px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner {
    height: 40%;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: var(--color-banner);
    position: absolute;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    height: 60%;
}

.svg * {
    color: var(--color-background-dark);
    transition: 0.2s;
}

.svg a:hover * {
    color: var(--color-input-inactive);
    transition: 0.2s;
}

.svg a:active, .svg a:active > * {
    transform: scale(0.95);
    transition: 0.1s;
}

img {
    height: 100%;
}

/*
RIGHT PART STYLING
*/
.right {
    background-color: var(--color-background-medium);
    width: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.right > * {
    padding: 0 var(--margin-standard);
}

.right > div:first-child, 
.right > div:last-child {
    height: 30%;
    margin: var(--margin-standard) 0;
}

.text-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.text-main * {
    font-size: 1.1rem;
}

.text-main > p:first-child {
    margin-right: 64px;
    margin-bottom: 0.3em;
}

.text-main > p:last-child {
    margin-top: var(--margin-standard);
}

/* FORM STYLING */
.form-container {
    background-color: var(--color-background-dark);
    min-height: 40%;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.form-container h1{
    margin-top: calc(var(--margin-standard) - 4px);
    margin-bottom: 6px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5em;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: var(--margin-standard);
}

label.required::after {
    content: "*";
}

label {
    font-weight: 400;
    color: var(--color-input-inactive);
    min-height: 1.2rem;
    position: absolute;
    top: 1.2em;
    z-index: 1;
    transition: var(--transition-time-standard);
}

label.is-active {
    top: 0.2em;
    transition: all var(--transition-time-standard), color var(--transition-time-fast);
    transform: scale(0.8) translateX(-12%);
    color: inherit;
}

input {
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: inherit;
    outline: none;
    z-index: 2;
}

.form-input {
    color: var(--color-input-active);
    width: 216px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    transition: var(--transition-time-fast);
}

.form-input.invalid {
    color: var(--color-input-invalid);
}

.form-input::after,
.form-input::before {
    content: "";
    position: absolute;
    top: 100%;
    height: 2px;
    align-self: flex-start;
}

.form-input::before {
    background-color: var(--color-input-inactive);
    width: 100%;
    z-index: 1;
}

.form-input::after {
    transition: var(--transition-time-standard);
    background-color: var(--color-input-active);
    width: 0%;
    z-index: 2;
}

.form-input.invalid::after {
    background-color: var(--color-input-invalid);
}

.form-input:hover::after,
.form-input.in-focus::after {
    width: 100%;
}

.form-input .error-message {
    position: absolute;
    top: calc(100% + 4px);
    font-size: 0.7em;
    color: var(--color-input-invalid);
    opacity: 0;
    transition: var(--transition-time-fast);
}

.form-input.invalid .error-message {
    opacity: 1;
}

/* BUTTON STYLING */
.right > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.right > div:last-child > button {
    margin-bottom: var(--margin-standard);
    padding: calc(var(--margin-standard) / 2);
    border-radius: calc(var(--margin-standard) / 2);
    border: none;
    background-color: var(--color-font-main);
    color: var(--color-background-dark);
    transition: 0.2s;
}

.right > div:last-child > button:hover {
    background-color: white;
    box-shadow: 0 8px 0 var(--color-background-dark);
}

.right > div:last-child > button:active {
    background-color: white;
    box-shadow: none;
    transform: translateY(4px);
}

.right a:link {
    text-decoration: none;
    color: rgb(160, 160, 160);
    transition: 0.2s;
}

.right a:visited {
    color: rgb(160, 160, 160);
}

.right a:hover {
    color: white;
}

/*
MEDIA QUERIES
*/

@media (max-width: 880px) {
    .main {
        flex-direction: column;
        width: min(100%, 576px);
        height: auto;
        border: 4px solid var(--color-background-medium);
        margin: min(48px, 5vw);
        border-radius: 32px;
    }

    .left {
        width: 100%;
        height: min(240px, 30vw);
    }

    .banner {
        width: 240px;
        height: 100%;
    }

    .svg {
        height: 60%;
    }

    img {
        width: 100%;
        height: auto;
    }

    .right {
        width: 100%;
    }

    .right > * {
        padding: 0 calc(var(--margin-standard));
    }

    .right > div:first-child, 
    .right > div:last-child {
        height: auto;
        margin: var(--margin-standard) 0;
    }

    .form-container > *:first-child {
        margin-top: calc(var(--margin-standard));
    }

    .form-container > *:last-child {
        margin-bottom: calc(var(--margin-standard));
    }

    .form-row {
        flex-direction: column;
        width: 100%;
    }

    .form-input {
        color: var(--color-input-active);
        width: 100%;
    }

}